base/bigdata04/.idea/compiler.xml
base/bigdata04/.idea/copyright/profiles_settings.xml
base/bigdata04/.idea/encodings.xml
base/bigdata04/.idea/misc.xml
base/bigdata04/bigdata04.iml
base/bigdata04/.idea/workspace.xml
base/bigdata04/.idea/modules.xml
base/bigdata04/.idea/uiDesigner.xml