base/bigdata04/.idea/compiler.xml
base/bigdata04/.idea/copyright/profiles_settings.xml
base/bigdata04/.idea/encodings.xml
base/bigdata04/.idea/misc.xml
base/bigdata04/bigdata04.iml
base/bigdata04/.idea/workspace.xml
base/bigdata04/.idea/modules.xml
base/bigdata04/.idea/uiDesigner.xml
*.xml

*.xml

base/bigdata05/.idea/libraries/Maven__org_xerial_snappy_snappy_java_1_0_4_1.xml

*.xml

base/bigdata05/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml

base/bigdata05/.idea/compiler.xml

base/bigdata05/.idea/encodings.xml

base/bigdata05/.idea/compiler.xml

base/bigdata05/.idea/compiler.xml

base/bigdata05/.idea/workspace.xml

base/bigdata05/.idea/workspace.xml
